@import "base/variables";

body {
    background-color: $bg-color;
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    margin: auto;
    min-width: 300px;
    max-width: 768px;

    #app-content {
        background-color: $content-bg-color;
        margin: 100px 0 10px 0;
        border: 0 solid $border-color;
        position: relative;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.1);

        input {
            outline: none;
        }

        header {
            border-bottom: 1px solid $border-color;

            #new-todo-submit {
                #create-todo {
                    padding: 18px;
                    border: none;
                    position: relative;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: 1.5em;
                }
            }
        }

        #list-placeholder {
            #list {
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                overflow: hidden;

                li {
                    position: relative;

                    .list-item-done {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 40px;
                        width: 40px;
                        -webkit-appearance: none;
                        appearance: none;

                        &:after {
                            content: '';
                            position: absolute;
                            left:6px;
                            top: 6px;
                            width: 20px;
                            height: 20px;
                            border: 1px solid $border-color;
                            background: #f8f8f8;
                            border-radius: 2px;
                            padding: 3px 0px 3px 5px;
                        }

                        &:checked {
                            &:after {
                                content: '✔';
                                font-size: 1.4em;
                            }
                        }
                    }

                    .list-item-label {
                        label {
                            margin-left: 45px;
                            padding: 11px;
                            font-size: 1.4em;
                            display: block;
                            cursor: text;
                        }

                        input {
                            position: relative;
                            margin-left: 45px;
                            width: 100%;
                            font-size: 1.4em;
                            border: 0;
                            outline: none;
                            color: inherit;
                            padding: 11px;
                            border: none;
                            box-sizing: border-box;
                        }
                    }

                    .list-item-delete {
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        right: 10px;
                        bottom: 0;
                        width: 40px;
                        height: 40px;
                        margin: auto 0;
                        font-size: 30px;
                        transition: color 0.2s ease-out;
                    }
                }
            }
        }

        footer {
            padding: 10px 15px;
            border-top: 1px solid #e6e6e6;
            text-align: center;

            #todoCount {
                float: left;
            }

            #status {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline;

                    a {
                        cursor: pointer;
                        font-style: italic;
                    }
                }
            }

            #todo-done-clear {
                float: right;
                font-style: italic;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: $tablet-size) {
    body {
        #app-content {
            margin: 30px 10px;
        }
    }
}

@media only screen and (max-width: $mobile-size) {
    body {
        #app-content {
            margin: 10px 10px;
        }
    }
}
