<!doctype html>
<html lang="en" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>Todos</title>
        <link rel="stylesheet" href="assets/css/style.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
    <body ng-app="todos">
		<div ng-view></div>

        <script type="text/ng-template" id="main.html">
        <section id="app-content">
            <header>
                <form id="new-todo-submit" ng-submit="createTodo()">
                    <input id="create-todo" ng-model="newTodoTitle" type="text" placeholder="Todo?"/>
                </form>
            </header>
            <section id="list-placeholder" ng-show="todoList.length" ng-cloak>
                <ul id="list">
                    <li class="list-item" ng-repeat="todo in todoList | statusFiler:status | orderBy : 'done' track by $index">
                        <input type="checkbox" ng-model="todo.done" class="list-item-done"/>
                        <div todo-item editable-text="todo.title" class="list-item-label"></div>
                        <a ng-click="deleteTodo(todo)" class="list-item-delete">x</a>
                    </li>
                </ul>
            </section>
            <footer ng-show="todoList.length" ng-cloak>
                <span id="todoCount"><strong>{{notDoneCount}}</strong>
    				<ng-pluralize count="notDoneCount" when="{ one: 'task', other: 'tasks' }"></ng-pluralize>
    			</span>
                <ul id="status">
                    <li><a ng-click="filterList('')">All</a></li>
                    <li><a ng-click="filterList('active')">Active</a></li>
                    <li><a ng-click="filterList('done')">Done</a></li>
                </ul>
                <span id="todo-done-clear">
                    <a ng-click="clearDone()">Clear 'Done' tasks</a>
                </span>
            </footer>
        </section>
        </script>
    </body>
</html>

<script src="assets/js/app.js"></script>
