<label ng-hide="isEditing" ng-dblclick="editTodo()">{{editableText}}</label>
<form ng-submit="saveTodo()" ng-show="isEditing" ng-cloak>
    <input type="text" ng-model="editableText" ng-blur="saveTodo()"/>
</form>
