@charset "UTF-8";
body {
  background-color: #DDD;
  font-family: "Helvetica", "sans-serif";
  font-size: 14px;
  color: #4d4d4d;
  margin: auto;
  min-width: 300px;
  max-width: 768px; }
  body #app-content {
    background-color: #FFF;
    margin: 100px 0 10px 0;
    border: 0 solid #d2d2d2;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0, 0, 0, 0.1); }
    body #app-content input {
      outline: none; }
    body #app-content header {
      border-bottom: 1px solid #d2d2d2; }
      body #app-content header #new-todo-submit #create-todo {
        padding: 18px;
        border: none;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        font-size: 1.5em; }
    body #app-content #list-placeholder #list {
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      overflow: hidden; }
      body #app-content #list-placeholder #list li {
        position: relative; }
        body #app-content #list-placeholder #list li .list-item-done {
          position: absolute;
          top: 0;
          left: 0;
          height: 40px;
          width: 40px;
          -webkit-appearance: none;
          -moz-appearance: none;
               appearance: none; }
          body #app-content #list-placeholder #list li .list-item-done:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            width: 20px;
            height: 20px;
            border: 1px solid #d2d2d2;
            background: #f8f8f8;
            border-radius: 2px;
            padding: 3px 0px 3px 5px; }
          body #app-content #list-placeholder #list li .list-item-done:checked:after {
            content: '✔';
            font-size: 1.4em; }
        body #app-content #list-placeholder #list li .list-item-label label {
          margin-left: 45px;
          padding: 11px;
          font-size: 1.4em;
          display: block;
          cursor: text; }
        body #app-content #list-placeholder #list li .list-item-label input {
          position: relative;
          margin-left: 45px;
          width: 100%;
          font-size: 1.4em;
          border: 0;
          outline: none;
          color: inherit;
          padding: 11px;
          border: none;
          box-sizing: border-box; }
        body #app-content #list-placeholder #list li .list-item-delete {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 10px;
          bottom: 0;
          width: 40px;
          height: 40px;
          margin: auto 0;
          font-size: 30px;
          transition: color 0.2s ease-out; }
    body #app-content footer {
      padding: 10px 15px;
      border-top: 1px solid #e6e6e6;
      text-align: center; }
      body #app-content footer #todoCount {
        float: left; }
      body #app-content footer #status {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0; }
        body #app-content footer #status li {
          display: inline; }
          body #app-content footer #status li a {
            cursor: pointer;
            font-style: italic; }
      body #app-content footer #todo-done-clear {
        float: right;
        font-style: italic;
        cursor: pointer; }

@media only screen and (max-width: 768px) {
  body #app-content {
    margin: 30px 10px; } }

@media only screen and (max-width: 600px) {
  body #app-content {
    margin: 10px 10px; } }

/*# sourceMappingURL=style.css.map */
