// Variables

//Sizes
$mobile-size: 600px;
$tablet-size: 768px;

// Colors
$bg-color : #DDD;
$content-bg-color: #FFF;
$color: #4d4d4d;

$border-color: #d2d2d2;

// Font
$font-family: 'Helvetica', 'sans-serif';
$font-size : 14px;
